@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply text-white;
        font-family: 'Open Sans', sans-serif;
    }

    body {
        @apply bg-neutral-900;
    }

    ::-webkit-scrollbar {
        width: 10px;
        height: 0.5rem;
    }

    ::-webkit-scrollbar-track {
        @apply bg-neutral-900;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-neutral-800;
    }

    ::-webkit-scrollbar-thumb:hover {
        @apply bg-neutral-700;
    }
}

@layer components {
    .btn-primary {
        @apply h-12 px-5 hover:bg-primary transition flex items-center justify-center;
    }

    .btn-primary.active {
        @apply bg-primary;
    }
}